/* Practice Layout */
.left-panel {
  background-color: lightgreen;
  height: 90vh;
  width: 70%;
}

.modal-content {
  background-color: rgba(0, 0, 255, 0.3);
  display: flex;
  height: 700px;
  left: 350px;
  position: absolute;
  top: 100px;
  width: 1200px;
  z-index: 2;
}

.modal-content-left {
  width: 70%;
}

.modal-content-left-top {
  color: white;
  padding: 40px 40px 0 40px;
}

.modal-content-left-top > p {
  text-transform: uppercase;
}

.modal-content-left-bottom {
  background-color: whitesmoke;
  margin: 0 40px 0 0;
  padding: 20px 40px 20px 40px;
}
.modal-content-right {
  background-color: beige;
  box-sizing: border-box;
  margin: 60px 0 -60px 0;
  padding: 40px;
  width: 30%;
}

.modal-content-right-img {
  height: 400px;
  width: 200px;
}

.modal-content-right > h1 {
  font-size: 1.4rem;
  line-height: 1;
}

.modal-content-right > p {
  font-size: 0.8rem;
  line-height: 1;
}

.page-content {
  display: flex;
  margin: 0 auto;
  width: 70%;
}

.right-panel {
  background-color: darkslategray;
  height: 90vh;
  width: 30%;
}

.trash{
	color: black;
}
