/* Practice Layout */

aside {
  width: 20%;
}

button {
  background-color: transparent;
  height: 40px;
}

button:nth-child(even) {
  border: whitesmoke solid thin;
}

button:nth-child(odd) {
  background-color: black;
  border: black solid thin;
}

footer {
  background-color: dimgray;
  color: white;
  height: 200px;
  line-height: 200px;
  width: 100%;
}

footer div {
  margin: 0 auto;
  width: 80%;
}

h4 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

li {
  font-size: 0.8rem;
  list-style-type: none;
  text-transform: uppercase;
}

.aside-section {
  padding: 0 40px;
}

.aside-section-avatar-item {
  display: flex;
  padding: 10px;
}

.aside-section-avatar-item-detail p {
  margin: 0;
}

.aside-section-avatar-list img {
  height: 100px;
  padding: 0 10px;
  width: 80px;
}

.aside-title-section {
  font-size: 1.2rem;
  padding: 10px 0;
  text-transform: uppercase;
}

.category-list li:hover {
  color: lightpink;
}

.currency-list li {
  background-color: lightgray;
  border-bottom: solid lightpink thin;
  margin: 2px 0;
  padding: 4px;
}

.currency-list li:hover {
  background-color: lightpink;
}

.display-selector {
  display: flex;
  width: 20%;
}

.display-selector i.black-icon {
  color: black;
}

.display-selector i.white-icon {
  color: white;
}

.new-collection {
  background-color: lightpink;
  color: white;
  font-size: 0.8rem;
  left: 20px;
  padding: 4px;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  width: 90px;
  z-index: 2;
}

.pagination-info {
  font-size: 1.3rem;
  padding-bottom: 40px;
  width: 80%;
}

.section-card-item {
  margin: 10px;
  position: relative;
}

.section-card-item img {
  height: 350px;
  width: 250px;
}

.section-card-item img:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: all 0.5s;
}

.section-card-item p {
  margin: 2px 0;
}

.section-card-item-image {
  height: 350px;
  overflow: hidden;
  width: 250px;
}


.section-card-list {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.section-display-selectors {
  width: 10px;
}

.trash{
	color: black;
}

.two-column-layer {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
