input[type=checkbox] + label + div {
  display: block;
}

input[type=checkbox] + label > i {
  display: none;
}

input[type=checkbox] + label {
  padding: 0 0 20px 0;
}

.info-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-links > div {
  max-width: 40%;
  min-width: 40%;
  padding: 10px;
}

.page-content header {
  padding: 50px 20px 100px 20px;
}

.product {
  flex-direction: row;
  justify-content: center;
}

.product > div {
  margin: 5px;
}

.product-detail {
  order: 2;
}

.product-image {
  order: 1;
}

.product-thumbnail {
  flex-direction: column;
  order: 0;
}
